#header 
{
    background-color:lightblue;
    color:black;
    text-align: center;
    font-family: 'Bernard MT';
    padding: 5px;
}
#section
{
    width:70%;
    height:40%;
    float:left;
    padding:10px;
    text-align: justify;
    color:black;
    position: absolute;
    left:35%;
    top:30%;
    background-position: center;
    background-repeat:no-repeat;
    background-size:cover;
}
span
{
color:blueviolet;
font-weight:bold;
}
#navlinks
{
    border-block-end-color: darkblue;
    line-height:30px;
    background-color:lightgray;
    height:100%;
    width:15%;
    float:left;
    color:darkblue;
    background-image: url("image4.jpg"); */
}
h1
{
    text-shadow: 5px 5px 5px;
}
#aside
{
    float:right;
    width:13.5%;
    height:100%;
    color:black;
    font-family: 'Times New Roman';
    background-image: url("download.jfif");
}
ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 150px;
}

li a {
    color: black;
    display: block;
    padding: 8px 50px;
    text-decoration: none;
} 
li a:hover {
    background-color: aqua;
    color:white;
}